*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    top: 0;
}
.navbar::before{
    content: "";
    position: absolute;
    background-color: rgba(0 0 0 0.5);
    height: 100%;
    width: 100%;
    z-index: -1;
}
.navbar ul{

    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    
}

.navbar ul li a:hover{
   border-bottom: 1px solid #9fc92b;
}

/* Home section */

#home{
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.5);
    height: 840px;
    justify-content: center;
    color: #9fc92b;
}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url('image/black.jpg') no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}

.main{
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;
}

.headings{
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
}
.btn{
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid rgb(3, 3, 3);
    color: white;
    outline: none;
    transition: .6s ease;
}
.btn:hover{
    cursor: pointer;
    background-color: rgb(133, 194, 83);
    color: black;
    box-shadow: 0 0 5px rgb(123, 155, 86),0 0 10px rgb(123, 155, 86)te, 0 0 15px rgb(123, 155, 86);
    font-weight: bold;
}

/* about section  */

#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
}
#pic{
    display: flex;
}

#pic img{
    width: 575px;
    height: 400px;

}

.intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}

#intro h2{
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Portfolio */

#portfolio{
    display: flex;
    flex-direction: column;
    background-color: rgba(158, 206, 81, 0.5);
    align-items: center;
    padding: 20px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}
.gallery img{
    width: 360px;
    height: 240px;
    margin: 10px;
}